body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-product-border {
  border: 2px solid rgb(110, 108, 108);
  margin: auto;
  width: 50%;
  padding: 15px;
  text-align: center;
}

.products-image-size {
  height: 500px;
  width: 500px
}